 
            img {
                width: 25%;
                border-style: dashed;
                border-color: orange;
                border-width: 3px;

            }
            p {
                color: dodgerblue;
            }
            .purple-text {
                color: purple;
            }
            p {
                color: orange;
            }
